{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title>Discuss Here!</title>
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block content %}

    <!-- Discussion form container -->
    <div class="container post-container py-5">
        <div class="content-section">
            <form method="post">
                {% csrf_token %}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Discuss Here!</legend>
                    {{ form|crispy }}
                </fieldset>

                <div class="form-group forum-btn">
                    <button class="btn btn-outline-info forum-btn" type="submit">
                        Post
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}